{%extends "base_landing.html"%}
{% block content %}
  <div class="container">

    <form action="{% url 'login:login' %}" method="post">
        {% csrf_token %}
        <label for="username">UserName:</label>
        <input id="username" type="text" name="username" value="{{ username }}"><br/>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" value="{{ password }}"><br/>
        <input type="submit" value="Login">
    </form>

  </div>
{% endblock %}