{% extends "base_landing.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
  <div class="single-welcome-slide">
  <div class="bg-curve" style="background-image: url({% static 'img/landing/core-img/test.png'%});">
  </div>
</div>  
 </section>
     
     




  <!-- <--***** About Us Area Start ***** -->
  <section class="mona-about-us-area  section">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-sm-6">
          <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
            <span class="line"></span>
            <img src="{% static 'img/landing/bg-img/dashboard.png'%}" alt="">
            <span class="line2"></span>
          </div>
        </div>
      

        <!-- About the App Content -->
       
          <div class="col-lg-6 col-sm-6 text-center">
            <h2>Docy</h2>
            <p>Our application provides the ability to our users to organize in the best way possible their patients' data.</p>
          </div>
        </div>
   </div>
 </section>




<!-- Single Service Area -->
    <div class="container">
      <div class="service-area">
        <div class="row">
        

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
             <i class="fas fa-universal-access"></i>
              <h5>Easy Access</h5>
              <p>Our users can easily access their data</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3 ">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
            <i class="icon_calendar"></i> 
              <h5>Time Saver</h5>
              <p>Our users can save time having their data organized by Docy</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3 ">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
             <i class="fas fa-pen"></i>
              <h5>Best Clinical Dissusions</h5>
              <p>Our users can provide the best clinical disccusions since they can keep track of their patients</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3 ">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
             <i class="far fa-file"></i> 
              <h5>Annually Reports</h5>
              <p>Our users can using Docy can have annually reports of their patients in form of graphs</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



<!-- About Us Content -->


  <section class="mona-about-us-area section-padding-80-0">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-6 col-sm-6">
          <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
            <span class="line"></span>
            <img src="{% static 'img/landing/bg-img/us.jpg'%}" alt="">
            <span class="line2"></span>
          </div>
        </div>
      

        <!-- About Us Content -->
       
          <div class="col-lg-6 col-sm-6 text-center">
            <h2>About us</h2>
            <p>Bionfomatician students created a fancy application</p>
          </div>
        </div>
   </div>
 </section>




  <!-- ***** Quote ***** -->
  <section class="clients-feedback-area section-padding-80 clearfix">
    <div class="container-fluid">
       <div class="service-area ">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <div class="slider slider-for">

            <!-- Quote -->
            <div class="client-feedback-text text-center">
              <div class="quote-icon">
                <i class="icon_quotations" aria-hidden="true"></i>
              </div>
              <div class="client-description text-center">
               <h4>“For every minute spent in organizing, an hour is earned
                ”</h4>
                <h6> Benjamin Franklin</h6>

               <div class="quote-icon">
                <i class="icon_quotations" aria-hidden="true"></i>
              </div>
              </div>
            </div>

        </div>

       
        </div>
      </div>
    </div>

  </section>
  

  <!-- ***** Sign up redireciton ***** -->
  <section class="mona-cta-area section-padding-80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-content">
            <h3>Sign Up</h3>
            <h6>Feel free to try this new experience of patients' organizer</h6>
              <a href="{% url 'login:register' %}"class="btn mona-btn">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- ***** Upcoming features ***** -->
  <section class="mona-blog-area mb-50 section-padding-80-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Upcoming Features </h2>
          </div>
        </div>
      </div>


        <div class="container">
          <div class="row">

            <!-- Single Blog Post -->
             <div class="col-12 col-sm-6">
              <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="post-thumbnail">
                  <a href="#"><img src="{% static 'img/landing/bg-img/report.jpg'%}" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">See Reports</a>
                  <span class="post-date">4 February 2019</span>
                </div>
              </div>
            </div>


            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6">
              <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="post-thumbnail">
                  <a href="#"><img src="{% static 'img/landing/bg-img/planner.jpg'%}" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">Add Appointment</a>
                  <span class="post-date">19 December 2018</span>
                </div>
              </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6">
              <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="600ms">
                <div class="post-thumbnail">
                  <a href="#"><img src="{% static 'img/landing/bg-img/hospital.jpg'%}" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">Connect to Hospital Database</a>
                  <span class="post-date">4 September 2019</span>
                </div>
              </div>
            </div>





              <div class="col-12 col-sm-6">
              <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="post-thumbnail text-center">
                  <a href="#"><img src="{% static 'img/landing/bg-img/phone.jpg'%}" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">Mobile Application</a>
                  <span class="post-date">19 December 2018</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->
{% endblock %}

