{% extends "base_landing.html" %}
{% load i18n %}
{% load static %}


{% block content %}


  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url({% static 'img/landing/core-img/curve.png'%});"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url({% static 'img/landing/bg-img/final.png' %})"
        height="42" width="42" ></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h5 data-animation="bounceInUp" data-delay="100ms">GUI<br>
                </h5>

              </div>
            </div>
          </div>
        </div>

        <!-- Pager -->
        <div class="slide-pager">
         <!--  <a href="#">Ne</a> -->
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url({% static 'img/landing/core-img/curve.png'%});"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url({% static 'img/landing/bg-img/19.png'%})" height="42" width="42"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h5 data-animation="bounceInUp" data-delay="100ms">Sign in<br></h5>



              </div>
            </div>
          </div>
        </div>
        <!-- Social Info -->

        <!-- Pager -->
        <div class="slide-pager">
      <!--     <a href="#">Next: Shaila Ritu</a> -->
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url({% static 'img/landing/core-img/curve.png'%});"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url( {% static 'img/landing/bg-img/20.png'%})" height="42" width="42"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h5 data-animation="bounceInUp" data-delay="100ms">Sign up <br>
                  </h5>


              </div>
            </div>
          </div>
        </div>
        <!-- Social Info -->

        <!-- Pager -->
        <div class="slide-pager">
         <!--  <a href="#">Next: Jesse Edwards</a> -->
        </div>
      </div>

    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** About Us Area Start ***** -->
  <section class="mona-about-us-area mb-30 section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
            <span class="line"></span>
            <img src="{% static 'img/landing/bg-img/final.png'%}" alt="">
            <span class="line2"></span>
          </div>
        </div>

        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="400ms">
            <span class="line"></span>
            <img src="{% static 'img/landing/bg-img/19.png'%}" alt="">
            <span class="line2"></span>
          </div>
        </div>

        <!-- About Us Content -->
        <div class="col-12 col-lg-4">
          <div class="about-us-content mb-50 wow fadeInUp" data-wow-delay="700ms">
            <h2>Docy</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Service Area -->
    <div class="container">
      <div class="service-area mt-80">
        <div class="row">

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <!-- <i class="icon-folder-open-alt "></i> -->
              <h5>Easy Access</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <!-- <i class="icon_calendar"></i> -->
              <h5>Time Saver</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <!-- <i class="icon_male"></i> -->
              <h5>Best Clinical Dissusions</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <!-- <i class="icon_file"></i> -->
              <h5>Annually Reports</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Us Area End ***** -->

  <!-- ***** Model Area Start ***** -->


  <!-- ***** Model Area End ***** -->

  <!-- ***** Client Feedback Area Start ***** -->
  <section class="clients-feedback-area section-padding-80 clearfix">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <div class="slider slider-for">

            <!-- Client Feedback Text -->
            <div class="client-feedback-text text-center">
              <div class="quote-icon">
                <i class="icon_quotations" aria-hidden="true"></i>
              </div>
              <div class="client-description text-center">
                <h4>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .”</h4>
              </div>
            </div>

        </div>

        <!-- Client Thumbnail Area -->
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Client Feedback Area End ***** -->

  <!-- ***** CTA Area Start ***** -->
  <section class="mona-cta-area section-padding-80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta-content">
            <h2>Sign Up for Free</h2>
            <h6>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor.</h6>
            <a href="#" class="btn mona-btn">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** CTA Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="mona-blog-area mb-50 section-padding-80-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Latest Updates</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Post -->


        <div class="col-12 col-lg-8">
          <div class="row">

            <!-- Single Blog Post -->
             <div class="col-12 col-sm-6">
              <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="post-thumbnail">
                  <a href="#"><img src="{% static 'img/landing/bg-img/final.png'%}" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">lorenn</a>
                  <span class="post-date">30 Aug 2018</span>
                </div>
              </div>
            </div>


            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6">
              <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="post-thumbnail">
                  <a href="#"><img src="{% static 'img/landing/bg-img/20.png'%}" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">lorenn</a>
                  <span class="post-date">30 Aug 2018</span>
                </div>
              </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6">
              <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="post-thumbnail">
                  <a href="#"><img src="{% static 'img/landing/bg-img/19.png'%}" alt=""></a>
                </div>
                <div class="post-content">
                  <a href="#" class="post-title">test</a>
                  <span class="post-date">30 Aug 2018</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->
{% endblock %}

