/* :: 8.0 Hero CSS */

.welcome-slides {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .owl-next {
    @include transition-duration(500ms);
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 100px;
    height: 100px;
    background-color: $white;
    text-align: center;
    line-height: 100px;
    color: $heading;
    font-size: 30px;
    z-index: 10;

    &:focus,
    &:hover {
      background-color: $primary;
      color: $white;
    }
    @media #{$breakpoint-lg} {
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
    @media #{$breakpoint-md} {
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
    @media #{$breakpoint-xs} {
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  }
}

.single-welcome-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 900px;
  background-color: $white;
  @media #{$breakpoint-lg} {
    height: 680px;
  }
  @media #{$breakpoint-md} {
    height: 600px;
  }
  @media #{$breakpoint-xs} {
    height: 400px;
  }

  .bg-curve {
    position: absolute;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    top: 0;
    right: 0;
  }

  .main-bg-img {
    position: absolute;
    width: 50%;
    height: calc(100% - 100px);
    bottom: 0;
    right: 15%;
    z-index: 1;
    @media #{$breakpoint-md} {
      height: calc(100% - 70px);
    }
    @media #{$breakpoint-xs} {
      height: calc(100% - 70px);
    }
  }

  .social-info {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 4%;

    a {
      display: inline-block;
      margin-left: 30px;
      text-transform: uppercase;
      color: $secondary;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 600;

      &:first-child {
        margin-left: 0;
      }
      @media #{$breakpoint-xs} {
        margin-left: 15px;
      }

      i {
        display: none;
        @media #{$breakpoint-md} {
          display: block;
        }
        @media #{$breakpoint-xs} {
          display: block;
        }
      }

      span {
        @media #{$breakpoint-md} {
          display: none;
        }
        @media #{$breakpoint-xs} {
          display: none;
        }
      }

      &:focus,
      &:hover {
        color: $primary;
        box-shadow: none;
      }
      @media #{$breakpoint-lg} {
        letter-spacing: 1px;
        font-size: 13px;
        margin-left: 15px;
      }
    }
  }

  .slide-pager a {
    position: absolute;
    width: 15%;
    height: 100px;
    font-size: 24px;
    color: $white;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: $heading;
    font-weight: 600;
    line-height: 100px;
    text-align: center;
    padding: 0 15px;
    overflow: hidden;
    @media #{$breakpoint-lg} {
      height: 70px;
      font-size: 18px;
      line-height: 70px;
    }
    @media #{$breakpoint-md} {
      height: 70px;
      font-size: 14px;
      line-height: 70px;
    }
    @media #{$breakpoint-xs} {
      display: none;
    }
  }
}

.welcome-text {
  position: relative;
  z-index: 1;
  margin-top: 100px;

  h2 {
    font-size: 100px;
    color: $heading;
    display: block;
    text-transform: capitalize;
    margin-left: -9px;
    margin-bottom: 30px;
    line-height: 1.2;
    @media #{$breakpoint-lg} {
      font-size: 72px;
      margin-left: -4px;
    }
    @media #{$breakpoint-md} {
      font-size: 72px;
      margin-left: -4px;
    }
    @media #{$breakpoint-xs} {
      font-size: 36px;
      margin-bottom: 15px;
      margin-left: 0;
    }
  }

  h5 {
    font-size: 18px;
    color: $secondary;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media #{$breakpoint-xs} {
      margin-bottom: 15px;
    }
  }

  a {
    padding: 0;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primary;
    font-weight: 600;

    &:focus,
    &:hover {
      color: $heading;
    }
  }
}
