/* :: 17.0 Widget CSS */
.search-widget-area form {
  position: relative;
  z-index: 1;

  input {
    @include transition-duration(500ms);
    width: 100%;
    height: 45px;
    border: 1px solid $border;
    background-color: transparent;
    padding: 0 15px;
    color: $white;
    font-size: 14px;
    border-radius: 0;

    &:focus {
      box-shadow: none;
      border: 1px solid $primary;
    }
  }

  button {
    width: 50px;
    height: 45px;
    background-color: $primary;
    padding: 0 15px;
    color: $white;
    font-size: 14px;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
    line-height: 45px;
  }
}

.single-widget-area {
  position: relative;
  z-index: 1;

  .widget-title {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: capitalize;
    @media #{$breakpoint-xs} {
      font-size: 24px;
    }
  }
}

.catagories-list {
  position: relative;
  z-index: 1;

  li {
    a {
      display: block;
      padding: 10px 0;
      font-size: 18px;
      color: $heading;
      font-weight: bold;
      @media #{$breakpoint-xs} {
        font-size: 16px;
      }

      i {
        margin-right: 10px;
      }

      &:focus,
      &:hover {
        color: $primary;
      }
    }

    &:first-child {
      a {
        padding-top: 0;
      }
    }

    &:last-child {
      a {
        padding-bottom: 0;
      }
    }
  }
}

.single-news-area {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .blog-thumbnail {
    @include flex(0 0 82px);
    max-width: 82px;
    width: 82px;
  }

  .blog-content {
    margin-left: 20px;

    .post-title {
      font-size: 18px;
      color: $heading;
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      @media #{$breakpoint-xs} {
        font-size: 16px;
      }

      &:focus,
      &:hover {
        color: $primary;
      }
    }

    .post-date {
      color: $secondary;
      display: block;
      margin-bottom: 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
}

.tags-list {
  @include display-flex(flex);
  @include flex-wrap(wrap);

  li {
    a {
      display: inline-block;
      padding: 8px 20px;
      border: 1px solid $border;
      background-color: $white;
      color: $heading;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      margin: 3px;

      &:focus,
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
