{% extends "base.html" %}
{% block content %}
<h3>Delete patient {{ form.first_name.value }} {{ form.last_name.value }}?</h3>


<table>
    
        <tr>
          <th>Birth date</th>
          <td>{{ form.birth_date.value }}</td>
        </tr>

        <tr>
          <th>Gender</th>
          <td class="field-gender">

          {{ form.gender.value }}

        </td>
        </tr>

        <tr>
          <th>Age</th>
          <td>{{ form.age.value }}</td>
        </tr>

        <tr>
          <th>Chemo</th>
          <td>{{ form.Chemo.value }}</td>
        </tr>

        <tr>
          <th>Last Chemo</th>
          <td>{{ form.Last_Chemo.value }}</td>
        </tr>

        <tr>
          <th>Smoker</th>
          <td>{{ form.smoker.value }}</td>
        </tr>

        <tr>
          <th>Packs yearly</th>
          <td>{{ form.Packs_yearly.value }}</td>
        </tr>

        <tr>
          <th>Diabetes</th>
          <td>{{ form.diabetes.value }}</td>
        </tr>

        <tr>
          <th>Insulin</th>
          <td>{{ form.insulin.value }}</td>
        </tr>

        <tr>
          <th>Weight</th>
          <td>{{ form.weight.value }}</td>
        </tr>
     </table><br>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes" class="btn btn-danger">
    <a href="{% url 'scan:patients' %}" class="btn btn-primary">No</a>
</form>
{% endblock %}