{% extends "base.html" %}
{% load i18n %}


{% block content %}


    <form action="" method="post" id="upload_form">
        {% csrf_token %}
     <fieldset>

        <label class="required" for="id_first_name">First name:</label>
        <input type="text" name="first_name" class="form-control" maxlength="20" required id="id_first_name" value="{{ form.first_name.value|default_if_none:'' }}">

        <label class="required" for="id_last_name">Last name:</label>
        <input type="text" name="last_name" class="form-control" maxlength="20" required id="id_last_name" value="{{ form.last_name.value|default_if_none:'' }}"><br/>

        <label class="required" for="id_birth_date">Birth date:</label>
        <input type="date" name="birth_date" class="vDateField" size="10" required id="id_birth_date" value="{{ form.birth_date.value|date:'Y-m-d' }}">

        <label class="required" for="id_gender">Gender:</label>
        {{form.gender}}

        <label class="required" for="id_age">Age:</label>
        <input type="number" name="age" class="vIntegerField" required id="id_age" value="{{ form.age.value }}">

        <label class="required" for="id_weight">Weight:</label>
        <input type="number" name="weight" step="any" required id="id_weight" value="{{ form.weight.value }}"><br/>

        {{ form.Chemo }}<label class="vCheckboxLabel" for="id_Chemo">Chemo</label><br/>
        <label class="required" for="id_Last_Chemo">Last Chemo:</label>
        <input type="date" name="Last_Chemo" class="vDateField" size="10" required id="id_Last_Chemo" value="{{ form.Last_Chemo.value|date:'Y-m-d' }}"><br/>

        <label class="required" for="id_Packs_yearly">Packs yearly:</label>
        <input type="number" name="Packs_yearly" class="vIntegerField" required id="id_Packs_yearly" value="{{ form.Packs_yearly.value }}"><br/>


        {{ form.diabetes }}<label class="vCheckboxLabel" for="id_diabetes">Diabetes</label>

        {{ form.insulin }}<label class="vCheckboxLabel" for="id_insulin">Insulin</label>

        {{ form.smoker }}<label class="vCheckboxLabel" for="id_smoker">Smoker</label>



     </fieldset><br/>




        <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save">
        </div>

    </form>

{% endblock %}

