{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h3>Basic Information</h3>

    <form action="" method="post" >
        {% csrf_token %}

       
<table class="table table-condensed table-hover table-striped">
        <tr>
          <th>First name</th>
          <td>{{ form.first_name }}</td>
        </tr>

        <tr>
          <th>Last name</th>
          <td>{{ form.last_name }}</td>
        </tr>       

        <tr>
          <th>Birth date</th>
          <td>{{ form.birth_date }}</td>
        </tr>

        <tr>
          <th>Gender</th>
          <td>{{ form.gender }}</td>
        </tr>

        <tr>
          <th>Age</th>
          <td>{{ form.age }}</td>
        </tr>

        <tr>
          <th>Chemo</th>
          <td>{{ form.Chemo }}</td>
        </tr>

        <tr>
          <th>Last Chemo</th>
          <td>{{ form.Last_Chemo }}</td>
        </tr>

        <tr>
          <th>Smoker</th>
          <td>{{ form.smoker }}</td>
        </tr>

        <tr>
          <th>Packs yearly</th>
          <td>{{ form.Packs_yearly }}</td>
        </tr>

        <tr>
          <th>Diabetes</th>
          <td>{{ form.diabetes }}</td>
        </tr>

        <tr>
          <th>Insulin</th>
          <td>{{ form.insulin }}</td>
        </tr>

        <tr>
          <th>Weight</th>
          <td>{{ form.weight }}</td>
        </tr>
     </table>






    <input type="submit" value="Submit" a href="/scan/patients" class="btn btn-success">
    <a href="/scan/patients" class="btn btn-danger">Cancel</a>

    </form>




{% endblock %}

