{% extends "base.html" %}
{% load i18n %}
{% load patient_filters %}


{% block content %}
<div class="row" >
  <div class = "col-5">
    <br>
     <p>
   <h3 style="color:darkgrey">{{ patient.first_name }} {{ patient.last_name }}</h3>
  </p>
       <table width="250" height="350" bordercolor="#ccc">
       
        <tr>
          <th>Birth date</th>
          <td>{{ patient.birth_date }}</td>
        </tr>

        <tr>
          <th>Gender</th>
          <td class="field-gender">
          {{ patient|docygender }}
        </td>
        </tr>

        <tr>
          <th>Age</th>
          <td>{{ patient.age }}</td>
        </tr>

        <tr>
          <th>Chemo</th>
          <td>{{ patient.Chemo }}</td>
        </tr>

        <tr>
          <th>Last Chemo</th>
          <td>{{ patient.Last_Chemo }}</td>
        </tr>

        <tr>
          <th>Smoker</th>
          <td>{{ patient.smoker }}</td>
        </tr>

        <tr>
          <th>Packs yearly</th>
          <td>{{ patient.Packs_yearly }}</td>
        </tr>

        <tr>
          <th>Diabetes</th>
          <td>{{ patient.diabetes }}</td>
        </tr>

        <tr>
          <th>Insulin</th>
          <td>{{ patient.insulin }}</td>
        </tr>

        <tr>
          <th>Weight</th>
          <td>{{ patient.weight }}</td>
        </tr>
     </table>
  </div>

  <div class = "col-7">

    <a href="/scan/add_scan/{{pid}}" class="btn btn-primary">Add a scan</a>
<table class="table table-condensed table-hover table-striped" name="Scans">
   <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Reason</th>
        <th>Diagnosis</th>
        <th>Actions</th>
      </tr>
    </thead>


    <tbody>
      {% for scan in scans %}
        <tr>
          <td>{{ scan.sid }}</td>
          <td>{{ scan.diag_date }}</td>
          <td>{{ scan.reason }} </td>
          <td>{{ scan.diagnosis}} </td>
          <td>
            <a href="{% url 'scan:view_scan' pid=pid sid=scan.sid %}" class="btn btn-info">view</a>
            <a href="/scan/delete_scan/{{ scan.sid }}" class="btn btn-danger">delete</a>
            <a href="/scan/edit_scan/{{ scan.sid }}" class="btn btn-success">edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>

</table>

  </div>
</div>
{% csrf_token %}



<br>
<a href="/scan/patients/" >Back</a>

{% endblock %}

