{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_js %}
{% endblock %}

{% block content %}
  <div class='vis' id="page-statistics">
    <select id="gender">
      <option value="Both">Both</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <br/>

    <script>
      var dataset_url = "{% static 'Dataset2.csv' %}";
    </script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/statistics.js' %}"></script>
  </div>
{% endblock %}
