{% extends "base.html" %}
{% load i18n %}


{% block content %}


    <form action="" method="post" id="upload_form" enctype="multipart/form-data">
     {% csrf_token %}
     <p class="bg-danger">
      {% if form.errors %}
        You got the following errors:
        {{ form.errors }}
      {% endif %}
     </p>

     <fieldset>

        <label class="required" for="id_diag_date">Scan Date:</label>
        <input type="date" name="diag_date" class="vDateField" size="10" required id="id_diag_date" value="{{ form.diag_date.value|date:'Y-m-d' }}">


        <label class="required" for="id_reason">Reason:</label>
        <input type="text" name="reason" class="vTextField" required id="id_reason" value="{{ form.reason.value }}">


     </fieldset><br/>


     <fieldset>
        <label class="required" for="id_diagnosis">Diagnosis:</label>
        <input type="text" name="diagnosis" class="form-control" required id="id_diagnosis" value="{{ form.diagnosis.value }}">
     </fieldset><br/>


     <fieldset>
        {{ form.file }}
     </fieldset><br/>



        <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save">
        </div>

    </form>

<a href="{% url 'scan:view' pid %}">Back</a>

{% endblock %}