
<!---navbar-->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'scan:dashboard' %}">Docy</a>


    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action= "{% url 'scan:patients' %}" 
    method= "GET">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" name= "Search">
        
          </button>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="#">{{ user.username }}</a>
            <a class="dropdown-item" href="{% url 'login:password_change' %}">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'login:logout' %}" data-toggle="modal" data-target="#logoutModal">Logout</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'login:login' %}">Login</a>
            <a class="dropdown-item" href="{% url 'login:register' %}">Register</a>
          {% endif %}
        </div>
      </li>
    </ul>

</nav>