
<!---navbar-->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'scan:dashboard' %}">Docy</a>


    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action= "{% url 'scan:patients' %}" 
    method= "GET">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" name= "Search">
        
          </button>
        </div>
    </form>

    <!-- Navbar -->
   
</nav>