{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        {% block title %}{% endblock %}


        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

        {% block extra_css %}{% endblock %}
    </head>
    {% endblock %}

    {% block body %}
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            {% block nav_content %}
                {% block navbar_brand %}
                    <a class="navbar-brand" href="#">Brand</a>
                {% endblock %}

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {% block navbar_collapse %}
                <div class="collapse navbar-collapse" id="navbar">

                    {% block navbar_collapse_nav %}{% endblock %}

                </div>
                {% endblock %}

            {% endblock %}

        </nav>
        {% endblock %}

        <div class="mt-5"></div>

        {% block navbar_after %}{% endblock %}

        {% block body_content %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block foot %}
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        {% endblock %}


        <script src="//unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>


        <script src="{% static 'js/csrf.js' %}"></script>
        {% block extra_js %}{% endblock %}

    </body>
    {% endblock %}

</html>
