
 {%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Mona - Model Agency HTML5 Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title -->
  <title>Docy</title>
  <!-- Favicon -->
  <link rel="icon" url="{% static 'img/landing/core-img/logo.png' %}" height="4" width="4" >

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/landing/style_index.css'%}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <style type="text/css">

*{
  font-family: 'Open Sans Condensed', sans-serif;
}
    .mona-cta-area {
      position: relative;
      z-index: 1;
      background-color: ;
    }
    .mona-btn{

      background:  black;
    }


  </style>


</head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="monaNav">

          <!-- Background Curve -->
         <div class="bg-curve" style="background-image: url({% static 'img/landing/core-img/test.png'%});"></div>

          <!-- Logo -->
          <a class="nav-brand" href="/">
            <img src="{% static 'img/landing/core-img/logo.png'%}" alt="" height="80" width="90">
          </a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
           <div class="classynav">
            {% if user.is_authenticated %}
               <ul id="nav">
                <li><a  class="btn btn-lg btn-dark btn-block" href="{% url 'scan:dashboard' %}">Dashboard</a></li>
              
            </ul>
            {%else%}
              <ul id="nav">
                <li><a href=  '/'>Home</a></li> 
                <li><a href="{% url 'login:login' %}">Sign In</a></li>
                <li><a href="{% url 'login:register' %}">Sign Up</a></li>

              </ul>
              {% endif %}
            <!-- Nav End -->

          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Top Search Area Start ***** -->
  <div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Close Button -->
            <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <!-- Form -->
            <form action="index.html" method="post">
              <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Top Search Area End ***** -->

  {% block content %}{% endblock %}

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Logo -->
            <a href="#" class="d-block mb-4"><img src=" {% static 'img/landing/core-img/logo.png'%}" alt="" height="45" width="45"></a>
        
            <div class="copywrite-text">
              <p>&copy;
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | </p>
<br>
<br>
<p>This template is made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Us</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>



        <!-- Single Footer Widget -->
        <div class="col-12 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Widget Title -->
            <h4 class="widget-title">Contact</h4>
            <!-- Footer Content -->
            <div class="footer-content mb-30">
              <h4>docyteam@gmail.com</h4>
              <h6></h6>
            </div>
            <!-- Social Info -->
            <div class="footer-social-info">
          <i class="fab fa-facebook"></i>
           <i class="fab fa-twitter"></i></a>
         
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'js/landing/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/landing/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/landing/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'js/landing/mona.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'js/landing/default-assets/active.js' %}"></script>

</body>

</html>