// Heading Color
$heading: #232323;

// Text Color
$text: #666666;

// Gray Background
$bg-gray: #f0f0f0;

// Primary Color
$primary: #ed489d;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #ed489d;

// Secondary Color
$secondary: #a6a6a6;

// Secondary Color
$footer-color: #f2f4f5;
