<form action="" method="post">
    {% csrf_token %}
<div>
  <fieldset>
        <div>
                <div>
                        <label>First name:</label>
                            <input type="text" name="first_name" maxlength="20" required id="id_first_name">
                        <label>Last name:</label>
                            <input type="text" name="last_name" maxlength="20" required id="id_last_name">
                </div>
            
        </div>
    
        <div>
                <div>
                        <label>Birth date:</label>
                            <input type="date" name="birth_date" size="10" required id="id_birth_date">
                        <label for="id_gender">Gender:</label>
                            <select name="gender" required id="id_gender">
                              <option value="" selected>---------</option>
                              <option value="1">Male</option>
                              <option value="2">Female</option>
                            </select>
                        <label>Age:</label>
                            <input type="number" name="age" required id="id_age">
                        <label>Weight:</label>
                            <input type="number" name="weight" required id="id_weight">
                </div>
            
        </div>
    
        <div>
                <div>
                        <input type="checkbox" name="Chemo" id="id_Chemo"><label for="id_Chemo">Chemo</label>
                </div>
        </div>
        <div>
                <div>
                        <label for="id_Last_Chemo">Last Chemo:</label>
                            <input type="date" name="Last_Chemo" size="10" required id="id_Last_Chemo">
                </div>
        </div>
        <div>
                <div>
                        <input type="checkbox" name="smoker" id="id_smoker"><label for="id_smoker">Smoker</label> 
                </div>
        </div>
        <div>
                <div>
                        <label for="id_Packs_yearly">Packs yearly:</label>
                            <input type="number" name="Packs_yearly" required id="id_Packs_yearly">
                </div>
            
        </div>
    
        <div>
                <div>
                        <input type="checkbox" name="diabetes" id="id_diabetes"><label for="id_diabetes">Diabetes</label>
                        <input type="checkbox" name="insulin" id="id_insulin"><label for="id_insulin">Insulin</label>
                </div>
        </div>
</fieldset>
<div class="submit-row">
<input type="submit" value="Change" class="default" name="_change">
</div>