<!DOCTYPE html>
<html>
<head>
    <title>patient list</title>
</head>
<body>
    <h1>Patient List</h1>
<table>
<thead>
<tr>
    <th>PID</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>birth_date</th>
    <th>gender</th>
</tr>
</thead>
<tbody>
    {% for patient in patient_list %}
        <tr>
            <td>{{ patient.pid }}</td>
            <td>{{ patient.first_name}}</td>
            <td>{{ patient.last_name }}</td>
            <td>{{ patient.birth_date }}</td>
            <td>{{ patient.get_gender_display }}</td>
            <td>
                <a href="/scan/delete/{{ patient.pid }}">delete</a>
                <a href="/scan/edit/{{ patient.pid }}">edit</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
<a href="/scan/add/">add</a>
</body>
</html>